#content {
  width: 100vw;
  height: 100vh;
}
.button {
  user-select: none;
  cursor: pointer;
  padding: 10px;
  border: 1px #fff solid;
  margin: 5px;
  &:hover {
    color: #000;
    background-color: #fff;
  }
}

#game-ui {
  .items-list {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    margin: 10px;
    .item {
      filter: grayscale(100%);
      opacity: 0.8;
      &.active {
        filter: grayscale(0%);
        opacity: 1;
      }
    }
  }
}
#main-menu {
  font-family: "Courier New", Courier, monospace;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  .title-card {
    font-size: 3rem;
  }
  .how-to-card {
    display: none;
    width: 800px;
    height: 600px;
    border: 1px #fff solid;
    background: #000;
    position: absolute;
    .content {
      position: relative;
      height: 100%;
      .close-btn {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
  .gameplay-buttons {
    text-align: center;
  }
}
