body {
  font-family: "Courier New", Courier, monospace; }

* {
  user-select: none; }

#content {
  width: 100vw;
  height: 100vh; }

.button {
  user-select: none;
  cursor: pointer;
  padding: 10px;
  border: 1px #fff solid;
  margin: 5px; }
  .button:hover {
    color: #000;
    background-color: #fff; }

#game-ui .score-container {
  transition-duration: 2s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  #game-ui .score-container .grid {
    position: absolute;
    width: 3px;
    height: 200px;
    margin-top: -75px;
    background-image: url("../assets/ui/wood.jpg"); }
  #game-ui .score-container .grid-left {
    margin-left: -40px; }
  #game-ui .score-container .grid-right {
    margin-left: 40px; }
  #game-ui .score-container .score {
    transform: rotateZ(-12deg);
    margin-top: 30px;
    width: 100px;
    height: 40px;
    background-image: url("../assets/ui/wood.jpg");
    box-shadow: 2px 2px 10px #212121;
    display: flex;
    align-items: center;
    justify-content: center; }
    #game-ui .score-container .score .score-value {
      font-size: 2rem;
      font-weight: bold;
      color: #fff; }

#game-ui .items-list {
  transition-duration: 1s;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px; }
  #game-ui .items-list .item {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; }
    #game-ui .items-list .item .item-progress {
      color: #ccc;
      font-weight: bold;
      background-image: url("../assets/ui/wood.jpg");
      background-position-x: -10px;
      padding: 4px; }
    #game-ui .items-list .item .activate-key {
      display: none;
      user-select: none;
      width: 24px;
      height: 24px;
      border-radius: 3px;
      align-items: center;
      justify-content: center;
      background: #fff;
      border: 1px #cccccc solid;
      font-size: 0.8rem;
      font-family: "Courier New", Courier, monospace;
      font-weight: bold;
      border-bottom-width: 3px;
      position: absolute;
      left: -35px;
      top: 20px;
      animation: press 1s infinite linear; }

@keyframes press {
  from {
    border-bottom-width: 3px;
    margin-top: 0px; }
  to {
    border-bottom-width: 1px;
    margin-top: 2px; } }
    #game-ui .items-list .item img {
      filter: grayscale(100%);
      opacity: 0.8; }
    #game-ui .items-list .item.active {
      animation-name: flash;
      animation-duration: 0.5s;
      animation-iteration-count: 1; }
      #game-ui .items-list .item.active img {
        filter: grayscale(0%);
        opacity: 1; }
    #game-ui .items-list .item.available .img {
      animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
      animation-iteration-count: infinite; }
    #game-ui .items-list .item.available .activate-key {
      display: flex; }

#game-ui .sanity-container {
  transition-duration: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 0;
  margin: 20px; }
  #game-ui .sanity-container .sanity-bar {
    transition-duration: 1s;
    box-shadow: 4px 4px 10px #000000;
    width: 250px;
    height: 16px;
    background-image: url("../assets/ui/wood.jpg");
    background-size: cover;
    border: 1px #733d24 solid;
    position: relative; }
    #game-ui .sanity-container .sanity-bar .sanity-progress {
      background-color: rgba(255, 0, 0, 0.7);
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0%; }
  #game-ui .sanity-container .sanity-icon {
    transition-duration: 1s; }
    #game-ui .sanity-container .sanity-icon img {
      margin: auto 20px;
      height: 45px; }
  #game-ui .sanity-container.critical .sanity-icon {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    animation-iteration-count: infinite; }
  #game-ui .sanity-container.critical .sanity-bar {
    box-shadow: 1px 1px 10px red; }

#game-ui.isDead .sanity-container {
  opacity: 0; }

#game-ui.isDead .items-list {
  opacity: 0; }

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0); }
  20%,
  80% {
    transform: translate3d(2px, 0, 0); }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0); }
  40%,
  60% {
    transform: translate3d(4px, 0, 0); } }

@keyframes flash {
  from {
    background-color: #fff; }
  to {
    background-color: transparent; } }

#main-menu {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff; }
  #main-menu .title-card {
    font-size: 3rem; }
  #main-menu .how-to-card {
    display: none;
    width: 800px;
    height: 600px;
    border: 1px #fff solid;
    background: #000;
    position: absolute; }
    #main-menu .how-to-card .content {
      position: relative;
      height: 100%; }
      #main-menu .how-to-card .content .close-btn {
        position: absolute;
        bottom: 0;
        right: 0; }
  #main-menu .gameplay-buttons {
    text-align: center; }

#death-screen {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: -100vh;
  left: 0;
  transition-duration: 0.5s; }
  #death-screen .content {
    color: #fff;
    background-color: #000;
    padding: 20px;
    margin: auto;
    position: relative;
    min-width: 250px;
    display: flex;
    flex-direction: column; }
    #death-screen .content .title {
      text-align: center;
      font-size: 2rem; }
    #death-screen .content .retry-btn {
      margin-top: 50px;
      text-align: center; }
  #death-screen.active {
    top: 0; }
