body {
  font-family: "Courier New", Courier, monospace; }

#content {
  width: 100vw;
  height: 100vh; }

.button {
  user-select: none;
  cursor: pointer;
  padding: 10px;
  border: 1px #fff solid;
  margin: 5px; }
  .button:hover {
    color: #000;
    background-color: #fff; }

#game-ui .items-list {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  margin: 10px; }
  #game-ui .items-list .item {
    filter: grayscale(100%);
    opacity: 0.8; }
    #game-ui .items-list .item.active {
      filter: grayscale(0%);
      opacity: 1; }

#main-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff; }
  #main-menu .title-card {
    font-size: 3rem; }
  #main-menu .how-to-card {
    display: none;
    width: 800px;
    height: 600px;
    border: 1px #fff solid;
    background: #000;
    position: absolute; }
    #main-menu .how-to-card .content {
      position: relative;
      height: 100%; }
      #main-menu .how-to-card .content .close-btn {
        position: absolute;
        bottom: 0;
        right: 0; }
  #main-menu .gameplay-buttons {
    text-align: center; }

#death-screen {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: -100vh;
  left: 0;
  transition-duration: 0.5s; }
  #death-screen .content {
    color: #fff;
    background-color: #000;
    padding: 20px;
    margin: auto;
    position: relative;
    min-width: 250px;
    display: flex;
    flex-direction: column; }
    #death-screen .content .title {
      text-align: center;
      font-size: 2rem; }
    #death-screen .content .retry-btn {
      margin-top: 50px;
      text-align: center; }
  #death-screen.active {
    top: 0; }
